@font-face {
  font-family: "icomoon";
  font-display: swap;
  src: url(../fonts/icomoon.woff) format("woff"),
    url("../fonts/icomoon.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
%ic {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"],
[class*="icon-"] {
  &::before {
    @extend %ic;
    display: block;
  }
}

.icon-navigation-arrow:before {
  content: "\ea1c";
}
