* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --gap: 15px;
  --key-width: 50px;
}

.main {
  margin: 0;
  overflow: hidden;
  background-color: hsl(0, 0%, 4%);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.keyboard {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: var(--gap);
  border-radius: 17.5px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1200px;
          perspective: 1200px;
  -webkit-transform: perspective(1200px) rotateX(20deg) rotateY(0deg);
          transform: perspective(1200px) rotateX(20deg) rotateY(0deg);
  -webkit-transition: 0.2s -webkit-transform;
  transition: 0.2s -webkit-transform;
  -o-transition: 0.2s transform;
  transition: 0.2s transform;
  transition: 0.2s transform, 0.2s -webkit-transform;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.row + .row {
  margin-top: var(--gap);
}

.keyboard,
.key {
  background: hsl(0, 0%, 8%);
  border: 2px solid rgba(64, 64, 64, 0.2);
  -webkit-box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.01), -2px -2px 6px rgba(255, 255, 255, 0.03), 2px 2px 5px rgba(255, 255, 255, 0.03), 5px 5px 10px rgba(0, 0, 0, 0.03);
          box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.01), -2px -2px 6px rgba(255, 255, 255, 0.03), 2px 2px 5px rgba(255, 255, 255, 0.03), 5px 5px 10px rgba(0, 0, 0, 0.03);
}

.key {
  --width: var(--key-width);
  --color: hsl(0, 0%, 85%);
  --size: 1;
  --size-2: 1.654545;
  --size-3: 1.981818;
  --size-4: 2.290909;
  --size-5: 2.618181;
  --size-6: 1.327272;
  --size-7: 7.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(var(--width) * var(--size));
  height: var(--width);
  color: #fff;
  font-size: 20px;
  border-radius: 7.5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translate3D(0, 0, 30px);
      -ms-transform: translate3D(0, 0, 30px);
          transform: translate3D(0, 0, 30px);
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
  cursor: pointer;
}

.key:hover {
  -webkit-transform: translate3D(0, 0, 35px);
      -ms-transform: translate3D(0, 0, 35px);
          transform: translate3D(0, 0, 35px);
}

.key:active,
.key[data-selected]:not([data-selected=false]) {
  -webkit-transform: translate3D(0, 0, 25px);
      -ms-transform: translate3D(0, 0, 25px);
          transform: translate3D(0, 0, 25px);
  border-color: var(--color);
  -webkit-box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.01), -2px -2px 6px rgba(255, 255, 255, 0.03), 2px 2px 5px rgba(0, 0, 0, 0.3), 5px 5px 10px rgba(0, 0, 0, 0.3), 0px 2px 8px var(--color), 0px 5px 20px var(--color);
          box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.01), -2px -2px 6px rgba(255, 255, 255, 0.03), 2px 2px 5px rgba(0, 0, 0, 0.3), 5px 5px 10px rgba(0, 0, 0, 0.3), 0px 2px 8px var(--color), 0px 5px 20px var(--color);
}

.key + .key {
  margin-left: var(--gap);
}

.key.stretch {
  padding: 0 25px;
}

.key.stretch:before {
  width: 100%;
}

.key.empty:before {
  display: none;
}

.key.size-2 {
  --size: var(--size-2);
}

.key.size-3 {
  --size: var(--size-3);
}

.key.size-4 {
  --size: var(--size-4);
}

.key.size-5 {
  --size: var(--size-5);
}

.key.size-6 {
  --size: var(--size-6);
}

.key.size-7 {
  --size: var(--size-7);
}

.key.grey {
  --color: hsl(0, 0%, 50%);
}

.key.red {
  --color: hsl(0, 80%, 60%);
}

.key.orange {
  --color: hsl(25, 80%, 60%);
}

.key.yellow {
  --color: hsl(50, 80%, 60%);
}

.key.green {
  --color: hsl(150, 80%, 60%);
}

.key.blue {
  --color: hsl(210, 80%, 60%);
}

.key.purple {
  --color: hsl(270, 80%, 60%);
}

.key[data-color=grey] {
  --color: hsl(0, 0%, 50%);
}

.key[data-color=red] {
  --color: hsl(0, 80%, 60%);
}

.key[data-color=orange] {
  --color: hsl(25, 80%, 60%);
}

.key[data-color=yellow] {
  --color: hsl(50, 80%, 60%);
}

.key[data-color=green] {
  --color: hsl(150, 80%, 60%);
}

.key[data-color=blue] {
  --color: hsl(210, 80%, 60%);
}

.key[data-color=purple] {
  --color: hsl(270, 80%, 60%);
}

.fa-play.left {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.fa-play.down {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.fa-play.up {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
@supports (-webkit-appearance:none){

}
